*{
    font-family: 'Courier New', Courier, monospace;
}

ul{
    text-align: none;
}
.profile{
    background-color: yellowgreen;
    margin: 5px 800px 5px 5px;
    text-align: center;
    border-radius: 5px;
}
p{
    display: inline;
}