*{

    margin: auto;
    text-align: center;
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    list-style: none;
}
div{
border: 2px solid whitesmoke;
}
div#one img {
    width: 700px;
    height: 400px;
    border-radius: 350px;
}
div#two ul li img{
    width: 400px;
    height: 50px;
}
div#three li{
    font-size: 30px;
    color: aquamarine;
}
div#four li{
    background-color: bisque;
    border: 5px dotted blanchedalmond;
    margin: 1%;
}