{% extends 'base.html' %}
{% block content %}
    {% if not object %}
        <h2>{{ msg }}</h2>
    {% else %}
        <h1>{{ object.title }}</h1>
        <p>작성자 : {{ request.user.username }}</p>
        <hr>
        <ul>
            <li>해야할것들 : {{ object.description }}</li>
            <li>시작일 : {{ object.start_date }}</li>
            <li>마감일 : {{ object.end_date }}</li>
            {% if object.is_completed %}
                <li> 성공 or 실패 : 성공</li>
            {% else %}
                <li>성공 or 실패 : 실패</li>
            {% endif %}
            <li>생성일 : {{ object.create_at }}</li>
            <li>수정일 : {{ object.modified_at }}</li>
        </ul>
        <a href="{% url 'todo_list' %}">뒤로가기</a>
        <div style="display: flex">
            <form id="delete_form" method="POST" action="{% url 'todo_delete' object.pk %}">
                {% csrf_token %}
                <button type="button" id="delete_btn">삭제</button>
            </form>
            <form method="GET" action="{% url 'todo_update' object.pk %}">
                {% csrf_token %}
                <button>수정</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script>
        document.querySelector('#delete_btn').addEventListener('click',function(){
            if(confirm('삭제하시겠습니까?')){
                document.querySelector('#delete_form').submit();
            }
        })
    </script>
{% endblock %}