{% extends 'base.html' %}
{% block content %}
    {% if not object_list %}
        <h2>{{ msg }}</h2>
        <form method="POST" action="{% url 'todo:create' %}">
            {% csrf_token %}
            <button>게시글 생성하러 가기</button>
        </form>
    {% else %}
        {% for todo in object_list %}
            <h2><a href="{% url 'todo:detail' todo.pk %}">{{ todo.title }} ({{ todo.start_date | date:"m-d"}} -> {{ todo.end_date | date:"m-d"}})</a></h2><br>
        {% endfor %}
        <form style="text-align: right" method="POST" action="{% url 'todo:create' %}">
            {% csrf_token %}
            <button>게시글 추가 생성하러 가기</button>
        </form>
    {% endif %}
    <hr>
    <div>
        <form method="GET">
            <input name="q" type="text" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}" placeholder="제목을 입력하세요">
            <button>검색</button>
        </form>
    </div>
    <hr>
    <div>
    {% if page_obj.has_previous %}
        <a href="?page=1&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">&laquo 맨앞으로</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">이전</a>
    {% endif %}
    <a href="?page={{ page_obj.number }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">다음</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">마지막으로</a>
    {% endif %}
    </div>
{% endblock %}

