<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if not todos %}
        <h2>{{ msg }}</h2>

        <form method="GET" action="{% url 'login' %}" style="display: inline">
            <button>로그인</button>
        </form>
        <form mehtod="GET" action="{% url 'sign_up' %}" style="display: inline">
            <button>회원가입</button>
        </form>

    {% else %}
        {% for todo in todos %}
            <h2><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></h2><br>
        {% endfor %}
    {% endif %}
</body>
</html>
